html{background-color: bisque;}
h1,h2{
    font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
nav{display: inline;}
nav{color: black;}
h1{display: flex;
justify-content: center;}
section{display: flex;
flex-direction:row;
flex-wrap: nowrap;
align-items: flex-start;
margin: 20px;;}
div3{display: flex;
flex-wrap: wrap;
margin: 60px;;}
a{text-decoration:none;
color: black;}
p{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
header{background-color: burlywood;
margin: 20px;;
}
img{
    display:block;
    width: 200px;
    height: 150px;
    margin: auto;
}